// Define our colors
$background-color: #24283b;
$darker-background-color: #1a1b26;
$text-color: #F7F8F8;
$link-color: #F7F8F8;

// Color some things
body {
    background: $background-color;
    color: $text-color;
}

a {
    color: $link-color;
}

a:hover {
    filter: brightness(80%);
}

// Misc
.content {
    max-width: 1280px;
    margin: auto;
}

a.tag {
    text-decoration: none;
    color: $text-color;
    background-color: $darker-background-color;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.8em;

    :hover {
        text-decoration: none;
        filter: brightness(100%);
    }
}