// Define our colors
:root {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='dark'] {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

// Color some things
body {
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

// Misc
.content {
    max-width: 1280px;
    margin: auto;
}