{% import "macros.html" as macros %}

{% extends "index.html" %}

{% block content %}
<h1>Gio's Notes</h1>

<!-- Search interface for the notes -->
{{ macros::searchbar() }}

<!-- List the number of notes and tags -->
{% set notes = get_section(path="notes/_index.md") %}
{% set tags = get_taxonomy(kind="tags") %}
<p>
    There are {{ notes.pages | length }} <a href="{{ notes.permalink }}">notes</a> and
    {{ tags.items | length }} <a href="{{ tags.permalink }}">tags</a>.
</p>

<!-- <pre>
    {{ get_section(path="notes/_index.md") | json_encode(pretty=true) }}
    {{ section | json_encode(pretty=true) | safe }}
</pre> -->
{% endblock content %}