<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" integrity="sha384-TxqXEM39LKAlr6mwXYlM8+n31/tjeQXzvjbORoLHWeLhkNhWoa9WkMJO/IIghaek" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-heading pure-menu-link">Notes</a>
        <a href="https://github.com/giodamelio/notes/new/main/content/notes?value=%2B%2B%2B%0Atitle%20%3D%20%22Hello%20World%22%0Adate%20%3D%20%22%24%20date%20--iso-8601%3Dseconds%22%0A%0A%5Btaxonomies%5D%0Atags%20%3D%20%5B%22example%22%5D%0A%2B%2B%2B" class="pure-menu-heading pure-menu-link">New Note</a>
        {% block menubar %}
        {% endblock menubar %}
    </div>
    <div class="pure-g content">
        <div class="pure-u-1-1 l-box">
        {% block content %}
        {% endblock content %} 
        </div>
    </div>
</body>
</html>
